[gerrit]
	basePath = git
	canonicalWebUrl = http://w7drajagopal.globalenglish.org:8080/
[database]
	type = h2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
	smtpServer = localhost
	smtpUser = dhanendran
[container]
	user = drajagopal
	javaHome = C:\\Program Files (x86)\\Java\\jre7
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
